DATABASE_URL="postgresql://postgres.fuvsssbfdwnromgnzczv:noida%40aios321%23@aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres"
DB_HOST=aws-0-ap-northeast-2.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.fuvsssbfdwnromgnzczv